[Unit]
Description=Daemon that listens for cluster submission requests

[Service]
ExecStart=bash -c "%h/.venv/htcluster/bin/htcluster-server >> %h/.local/var/htcluster-server.log"

[Install]
WantedBy=default.target